.jumbotron {
    background-color: #101653;
    text-align: center;
    color: white;
    height: 400px;
    vertical-align: center;
}

.jumbotron button {
    margin-left: 10px;
    margin-right: 10px;
}


